.news-banner {
  // height: 165px;
  height: auto;
  // background-image: url("../../../assets//images//home//banner.jpg");
  background-size: auto;
  background-color: #2c5939;
  text-align: center;
  img {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .news-banner {
    // height: 75px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
