.wrapper {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: 100%;

    .top {
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }

    .table-data {
        padding-top: 8px;
        flex: 1;
    }
}

.row-item {
    margin-bottom: 16px;

    .row-item-label {
        text-align: right;
        font-weight: 600;
    }
}
