.wrapper {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: 100%;

    .top {
        padding-bottom: 8px;
    }

    .table-data {
        padding-top: 8px;
        flex: 1;
    }
}
