.wrapper {
    display: flex;
    padding: 8px;

    .left {
        width: 160px;
        margin-right: 8px;

        img {
            width: 160px;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 14px;
            color: #337ab7;
        }

        .date {
            font-style: italic;
            color: #666;
        }

        .description {
            font-size: 11px;
        }
    }
}
