.wrapper {
    display: flex;
    padding: 8px 4px;
    font-style: italic;

    .icon {
        width: 5px;
        height: 5px;
        min-width: 5px;
        min-height: 5px;
        background-color: #5a5656;
        display: inline-block;
        margin-bottom: 2px;
    }

    > svg {
        margin-right: 4px;
        margin-top: 4px;
    }

    .content {
        display: inline-block;
        width: 100%;
        white-space: break-spaces;
    }
}

.badge-new {
    margin-left: 8px;
    padding: 4px;
    border-radius: 8px;

    background-color: red;
    font-size: 11px;
    color: #fff;
}
